*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}
header{
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin-right: 10px;
    overflow: hidden;
}
.navbar a{
    color: rgba(255, 255, 255, 0.726);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    color: white;
}
.navbar li{
    float: right;
}
.navbar span{
    color: rgba(255, 255, 255, 0.726);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
header .logo{
    font-size: 22px;
    text-align: left;
}
.current{
    color: white;
}
.fejlec img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
}