* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
 
body {
    background-color: #222222;
    color: white;
}
header {
    width: 100%;
    padding: 25px 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
 
nav{
    box-sizing: border-box;
}
.logo {
    font-size: 25px;
    letter-spacing: 2px;
}
 
header nav a {
    margin-left: 25px;
    color: rgba(255, 255, 255, 0.719);
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
}
nav a:hover{
    color: white;
}
nav .per:hover{
    color: rgba(255, 255, 255, 0.719);
}
.fejlec img{
    width: 100%;
    height: 55vh;
    object-fit: cover;
    display: block;
}
#aktiv{
    color: white;
}
.piadinacontainer{
    display: grid;
    grid-template-areas:
      "HISTORY PHONE";
    grid-template-columns: 5fr 7fr;
    gap: 3px;
    padding: 5px;
    width: 100%;
}
.piadinacontainer div {
    padding: 10px;
  }
.piadinacontainer div.tortenelmunk {
    grid-area: HISTORY;
    text-align: right;
    background: #222;
    height: 40vh;
  }
.piadinacontainer div.foglaljasztalt {
    grid-area: PHONE;
    background: #222;
    width: 82%;
  }
  .piadinacontainer h1{
    margin-top: 7vh;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  .tnr{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    color: rgb(173, 173, 173);
    padding-top: 8px;
  }
  .foglaljasztalt{
    margin-top: 7vh;
    font-size: large;
    line-height: 30px;
    color: rgb(173, 173, 173);
    margin-bottom: 70px;
  }
  .foglaljasztalt h2{

    color: white;
    margin-top: 35px;
    font-size: larger;
  }
  .menu{
    background-color: #101010;
  }
    .menu-section {
        background-color: #101010;
        color: white;
        text-align: center;
        padding: 60px 20px;
    }
     
    .menu-section h3 {
        font-size: 28px;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }
     
    .menu-section h4 {
        font-size: 18px;
        margin-bottom: 20px;
        color: #ccc;
    }
     
    .menu-section p {
        max-width: 700px;
        margin: 0 auto 40px;
        line-height: 1.6;
        color: #ddd;
    }
     
    .menu-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
     
    .menu-btn {
        border: 1px solid white;
        padding: 20px 70px;
        text-decoration: none;
        color: white;
        letter-spacing: 1px;
        transition: 0.3s;
    }
     
    .menu-btn:hover {
        background-color: #464512;
        color: rgb(245, 250, 174);
        border-color: rgb(245, 250, 174)
    }
    .specialitasaink{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color:#222222;
        margin-bottom: 300px ;  
    }
    .specialitasaink h3{
        font-size: 28px;
            margin: auto;
    }
    .specialitasaink .szoveg{
        padding-top: 60px;
        text-align: center;
    }
    .specialitasaink p{
        font-size: 20px;
    }
    .container {
        margin-top: 40px;
        display: grid;
        grid-template-areas:
          "pizza1 pizza1 voros"
          "gomba pizza2 voros"
          "gomba pizza2 elo"
          "blank blank elo";
        grid-template-columns: 10fr 10fr 10fr;
        grid-template-rows: 20fr 5fr 10fr 1fr;
        gap: 35px;
        padding: 5px;
        height: 800px;
      }
      .container div {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
      }
      .container div.pizza1 {
        grid-area: pizza1;
        height: 50vh;
        width: 80vh;
        background-image: url(/img/pizzakep.jpg);
        background-size: cover;
        
      }
      .container div.pizza2 {
        grid-area: pizza2;
        background-image: url(/img/pizzakep4.jpg);
        background-size: cover;
        
        
      }
      .container div.voros {
        grid-area: voros; 
        background-image: url(/img/pizzakep2.jpg);
        background-size:cover;
        background-position: 50%;
      }
      .container div.blank {
        grid-area: blank; 
      }
      .container div.elo {
        grid-area: elo; 
        background-image: url(/img/pizzakep5.jpg);
        background-size: cover;
        background-position: 65%;
        height: 200px;
      }
      .container div.gomba {
        grid-area: gomba; 
        background-image: url(/img/pizzakep3.jpg);
        background-size: cover;
        background-position: 65%;
      }
      .container .tnr{
        color: white;
        font-size: medium;
      }
      .container div.blank :hover{
        background-color: rgba(255, 255, 0, 0.644);
      }
